{% extends 'base.html' %}

{% block content %}
<h2 class="title">Авторизація</h2>
<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
        {{ messages[0] }}, go to <a href="{{ url_for('login') }}">Login page</a>
    </div>
    {% endif %}
    {% endwith %}

<form method="post" action="/login">
    {{ form.username.label }}<br>
    {{ form.username }}
    {{ form.password.label }}<br>
    {{ form.password }}
    {{ form.remember.label }}<br>
    {{ form.remember }}
    {{ form.submit }}
</form>

</div>
{% endblock %}