{% extends 'base.html' %}

{% block content %}
<h2 class="title">Реєстрація</h2>
<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
        {{ messages[0] }}, go to <a href="{{ url_for('login') }}">Login page</a>
    </div>
    {% endif %}
    {% endwith %}
    <form method="post" action="/signup">
        <input type="text" name="name" autofocus="" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <button class="button">Зареєструвати</button>
    </form>
</div>
{% endblock %}